# Maven
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.env

CV_IDEA.txt
Learnings.md
HELP.md
Mapper_DRAFT.java
tree.yaml
.gitattributes
mvnw
mvnw.cmd
.mvn

# Java Package Files (Github: https://github.com/github/gitignore/blob/main/Java.gitignore)#
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
